In [35]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [37]:
x = np.ones((2,4))
x

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

## Q#2: Create y array with elements equal to 0.

In [38]:
y = np.zeros((2,4))
y

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

## Q#3: Add x and y arrays.

In [39]:
# x.reshape(2,3)
x+y

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type)

In [40]:
x.shape

(2, 4)

In [41]:
x.size

8

In [42]:
x.dtype

dtype('float64')

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [102]:
w = np.array([[11,12], [13,14], [15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [108]:
z = np.arange(1,4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in vertical way then save it in a new variable "newArray".

In [110]:
new_array = np.column_stack((z,w))
new_array

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [111]:
for item in new_array.flat:
    print(item)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [112]:
new_array = np.flip(new_array, axis=0)
new_array

array([[ 3, 15, 16],
       [ 2, 13, 14],
       [ 1, 11, 12]])

## Q#10: Decrement all elements of "newArray" with 1.

In [113]:
new_array -=1
new_array.shape

(3, 3)

## Q#11: Find smallest and biggest values in "newArray".

In [114]:
new_array.min()

0

In [115]:
new_array.max()

15

## Q#12: Print the first row of "newArray" using indexing.

In [116]:
new_array[0]

array([ 2, 14, 15])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [117]:
new_array[1,1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using Slicing.

In [118]:
new_array

array([[ 2, 14, 15],
       [ 1, 12, 13],
       [ 0, 10, 11]])

In [95]:
new_array[[3,1], 0:2]

array([[ 1,  0],
       [13, 12]])

## Q#15: Change the shape of "newArray" to (9,1).

In [123]:
new_array = new_array.reshape((9,1))
new_array

array([[ 2],
       [14],
       [15],
       [ 1],
       [12],
       [13],
       [ 0],
       [10],
       [11]])

## Q#16: Change the shape of "newArray" to (3,2).

In [124]:
new_array.reshape((3,2)) # we can't excute this cuz the multiplication of rows and columns 
# must equal 9

ValueError: cannot reshape array of size 9 into shape (3,2)

# Well Done ðŸŽ‰